{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Información</h1>
    <label for="cnc">¿Para qué sirve MusKey?</label>
    <small id="emailHelp" class="form-text text-muted">MusKey está diseñado para descargar gratuitamente música
        libre de derechos. <br>No nos hacemos responsables del mal uso que se le dé a la aplicación.<br><br></small>
        <label for="cnc">¿Cómo utilizar MusKey?</label>
    <small id="emailHelp" class="form-text text-muted">Simplemente introduce el nombre de la canción que quieres buscar.<br><br>
    Para ser más especifico con la canción que estás buscando puedes añadir tambien el cantante<br>
    <br>
    Ten en cuenta que la canción se descargará con el nombre que introduzcas al buscarla. Por lo que lo más recomendable es que la introduzcas lo más detallada posible.<br>
    De esta forma, no únicamente la tendrás con el nombre correcto descargada sino que ayudarás a MusKey a encontrarla más rápidamente.<br><br></small>



</div>

{% endblock %}